<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.roughdesign.canyoufeedme" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".CanYouFeedMeApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/global.app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.StartupActivity"
            android:label="@string/global.app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:label="@string/global.app_name" >
        </activity>
        <activity
            android:name=".activities.WorldMapActivity"
            android:label="@string/global.app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CountryOverviewActivity"
            android:label="@string/country_overview.title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CountryDetailActivity"
            android:label="@string/country_detail.title"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CountryDetailAmountActivity"
            android:label="@string/title_activity_country_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.CountryDetailDiversityActivity"
            android:label="@string/title_activity_country_detail"
            android:screenOrientation="portrait" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_googlemaps" />

    </application>

</manifest>
